#dbexclusion {width:300px;}
.fileSpaceButton {float: right;margin-right: 20px;color: #EA7601;text-decoration: underline;cursor:pointer;}
.tableSpaceButton {float: right;color: #EA7601;margin-right: 20px;text-decoration: underline;cursor:pointer;}
.mgkrow{width:700px;}
.fileSize {float: right;margin-right: 30px;}
.tableSize {float: right;margin-right: 30px;}